<p id="notice"><%= notice %></p>
<div class="container">
  <div class="rows">
		<p id="notice"><%= notice %></p>
		<div class="col-lg-12">
			<p>
			  <strong>First name:</strong>
			  <%= @user.first_name %>
			</p>

			<p>
			  <strong>Last name:</strong>
			  <%= @user.last_name %>
			</p>

			<%= link_to 'Edit', edit_user_path(@user), class: "form_label btn btn-primary btn-xs" %>
			<%= link_to 'Back', users_path, class: "form_label btn btn-primary btn-xs" %>
		</div>
		<br>
	</div>
</div>